body {
    background-image:url("back.jpg");
        background-size: cover;
    }
    #form {
        position: absolute;
        vertical-align:middle;
        margin: auto;
        
        height: 45%;
        width: 30%;
        top: 53%;
        left: 35%;
        align-content: center;
    }
    #userName {
        background-color: rgb(139, 139, 138);
        color: rgb(13, 13, 51);
        text-align: center;
        border-radius: 3px;
        height: 13%;
        width: 100%;
        font: 1.2em sans-serif;
    }
    #password {
        background-color: rgb(139, 139, 138);
        color: rgb(13, 13, 51);
        text-align: center;
        border-radius: 2px;
        height: 13%;
        width: 100%;
        font: 1.2em sans-serif;
    }
    #logIn {
        height: 12%;
        width: 35%;
        border-radius: 8px;
        background-color: rgb(13, 13, 51);
        color: whitesmoke;
    }
    #tag {
        color: azure;
        font-size: 20px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }